@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

.category-dropdown {
    display: none;
}

.category-dropdown:not(.hidden) {
    display: block;
}
.swiper-container {
    position: relative;
    height: 400px; /* Giới hạn chiều cao slideshow */
    overflow: hidden; /* Đảm bảo không tràn ra ngoài khung */
}

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Căn chỉnh ảnh theo khung */
}

/* Định vị lại mũi tên điều hướng */
.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Định vị lại dấu chấm phân trang */
.swiper-pagination {
    bottom: 10px; /* Căn cách đáy slideshow */
    text-align: center;
}

/* Giới hạn chiều cao cho các thành phần pagination */
.swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    background: #fff;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #000;
}

#search-results {
    position: absolute;  /* Đặt kết quả lên trên các thành phần khác */
    background: #fff;    /* Màu nền của kết quả tìm kiếm */
    z-index: 9999;       /* Đảm bảo kết quả không bị che khuất */
    width: 50%;          /* Chiều rộng của kết quả tìm kiếm bằng chiều rộng của khối cha */
}
